@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poiret+One&family=Raleway:wght@300&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #14a83c;
  --background-color: #131313;
  --text-color: #ffffff;
  --text-second-color: #a9a9a9;
  --secondary-color: #2b2b2b;
  --complement-color: #0f6b2c;
  --input-border-color: #ccc;
  --input-border-radius: 5px;
  --transition-speed: 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  height: auto;
  max-width: 100vw;
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* --------------------- Cookie------------------------ */
.cookie-banner {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.099);
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  align-items: center;
  justify-content: center;
  z-index: 10000;
  color: var(--text-color);
}

.cookie-banner a {
  font-weight: 700;
  color: var(--complement-color);
}

.cookie-banner p {
  margin-right: 15px;
  display: inline-block;
}

#accept-cookies {
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#accept-cookies:hover {
  background-color: #45a049;
}

/* --------------------- Header------------------------ */

.Header {
  position: fixed;
  top: 0;
  width: 100vw;

  background: rgba(255, 255, 255, 0.199);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);

  z-index: 9999;
  font-weight: 300;
  transition: all 500ms ease-in-out;
}

.Header_Logo {
  width: 10vw;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
}

.Header_Nav {
  position: sticky;
  padding: 0.8rem;
  border-bottom: 2px solid #e8e8e8;
  display: flex;
  justify-content: center;
}

.Header_Nav ul {
  display: flex;
  justify-content: space-around;
  gap: 8rem;
  list-style: none;
}

.Header_Nav a {
  color: var(--text-color);
  font-size: clamp(8px, 1vw, 14px);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  list-style: none;
  text-decoration: none;
}

@media (hover: hover) {
  .Header_Nav ul :hover {
    text-decoration: 2px underline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1050px) {
  .Header_Logo {
    width: 25vw;
  }

  .Header_Nav ul {
    gap: 5rem;
  }

  .Header_Nav a {
    font-size: 2vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 650px) {
  .Header_Logo {
    width: 45vw;
  }

  .Header_Nav ul {
    gap: 1.6rem;
    padding-left: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {}

/* --------------------- Info, Hero ------------------------ */

#background canvas {
  display: block;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  opacity: 0.5;
  width: 100%;
  height: 90%;
  /* background-color: #131313; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow-x: hidden;
}

.MainPageImg {
  background-image: url("./img/MainPageImg.jpg");
  position: absolute;
  width: 80vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;

  transition: opacity 1s ease-in-out;
}

.MainPageImg.hide {
  opacity: 0.2;
  filter: blur(20px);
  transition: opacity 1s ease-in;
}

/* Klíčové snímky (keyframes) pro animaci */
@keyframes fadeOut {
  0% {
    opacity: 1;

  }

  100% {
    opacity: 0;
  }
}



.info_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;

}

.info_wrapper_text {

  text-align: center;
  color: var(--text-color);
}

.info_wrapper_text h2 {
  font-size: 160px;
  margin-bottom: 5vh;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.info_wrapper_text p {
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--text-second-color);
}

.info_wrapper img {
  max-width: 50%;
  height: auto;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CTA_scroll {
  position: absolute;
  z-index: 1001;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  font-size: 30px;
  color: var(--text-color);
  animation: move 2s infinite;
}

.CTA_scroll a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 10%;
  cursor: pointer;
  animation: move 2s infinite;
}



@keyframes move {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



@media (hover: hover) {}

@media only screen and (max-width: 2560px) {



  .info_wrapper_text p {
    padding: 0 150px;
    font-size: 14px;
  }

  .CTA_scroll {
    margin-bottom: 1%;
    font-size: 20px;
  }

  .CTA_scroll a {
    margin-bottom: 5%;
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 1500px) {


  .info_wrapper_text p {
    padding: 0 125px;
    word-spacing: 0px;
  }

  .CTA_scroll {
    margin-bottom: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .info_wrapper_text h2 {
    font-size: 9vw;
  }

  .info_wrapper_text p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1050px) {
  .info_wrapper_text h2 {
    font-size: 10vw;
  }

  .info_wrapper_text p {
    padding: 0 145px;
    font-size: 1.4vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 650px) {

  .MainPageImg {

    width: 100vw;
    height: auto;

  }

  .info_wrapper_text h2 {
    font-size: 16vw;
  }

  .info_wrapper_text p {
    padding: 0 35px;
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {
  .info_wrapper_text p {
    padding: 0 25px;
    font-size: 13px;
  }
}

/* --------------------- Carousel ------------------------ */

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

#carousel {
  padding-bottom: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}

.carousel_background {
  position: relative;
  left: 0;
  width: 100vw;
  max-width: 2560px;
  height: 100vh;
  opacity: 0.8;
  z-index: -10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_background img {
  max-width: 600px;
  width: 20%;
  height: auto;
}

.carousel_background img:nth-child(1) {
  margin-bottom: 30px;
  margin-right: 500px;
}

.carousel_background img:nth-child(2) {
  margin-top: 300px;
  margin-left: 200px;
  transform: rotate(180deg);
}

.carousel {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-width: 1200px;
  max-height: 650px;
  overflow: hidden;
  position: absolute;

  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.carousel-item {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;

  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;

  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: var(--text-second-color);
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-family: "Roboto", serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2c2c2c;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image {
  background-image: url("./img/carousel/Dum1.jpeg");
}

.carousel-item--2 .carousel-item__image {
  background-image: url("./img/carousel/Dum2.jpeg");
}

.carousel-item--3 .carousel-item__image {
  background-image: url("./img/carousel/Dum3.jpeg");
}

.carousel-item--4 .carousel-item__image {
  background-image: url("./img/Scaffold_front_view.jpg");
}

.carousel-item--5 .carousel-item__image {
  background-image: url("./img/Scaffold_front_view.jpg");
}

.carousel-item__btn {
  width: 35%;
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 20px;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  position: relative;
}

.carousel-item__btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #014906;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.carousel-item__btn:hover:after {
  width: 100%;
  left: 0;
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content: "";
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle,
.active .carousel-item__title,
.active .carousel-item__description,
.active .carousel-item__btn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.6s all ease-in-out;
  visibility: visible;
}

.active .carousel-item__image {
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
}

@media (hover: hover) {}



@media only screen and (max-width: 1050px) {
  .carousel {
    width: 100vw;
    height: 100vh;
    max-height: 80vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 650px) {
  #carousel {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .carousel-item__title {
    font-size: 28px;
  }

  .carousel {
    width: 100vw;
    height: 80vh;

  }

  .carousel-item__info {
    padding: 0 10px;
    width: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {}

/* --------------------- Animation section ------------------------ */
.canvas-section-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  /* padding: 0 25px; */
  /* background-image: linear-gradient(#011e0212, #026f0618, #011e0212); */
}

.canvas-section-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.canvas-section {
  display: flex;

  justify-content: center;

  max-width: 2060px;
  width: 80%;
  height: 50vh;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.canvas-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  /* background: linear-gradient(to right, #0742192d, #020f06, #33333300); */
  background: linear-gradient(to right, #020202, var(--background-color) 99%);
  border-left: 2px solid white;
}

.canvas-text {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.canvas-text h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 8px;
  font-size: 54px;
  font-size: clamp(32px, 80%, 24px);
  margin: 5px;
  color: var(--text-color);
  border-bottom: 1px solid white;
}

.canvas-text h3::first-letter {
  font-size: 50px;
}

.canvas-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-size: clamp(18px, 10%, 24px);
  padding: 25px;
  margin-top: 25px;
  color: var(--text-second-color);
}

.spacer {
  position: relative;
  margin: 30px auto;
  height: 2px;
  width: 85%;

  background-color: var(--complement-color);
}

@media (hover: hover) {}



@media only screen and (max-width: 1400px) {


  .sticky-canvas {
    width: 100%;
    flex-direction: column;
  }

  .canvas-text-wrapper {
    max-width: none;
    width: 100vw;
    border-left: none;
    border-top: 2px solid white;
    background: linear-gradient(to bottom, #020202, var(--background-color) 99%);
  }

  .canvas-text {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .canvas-text h3 {
    font-size: clamp(24px, 80%, 12px);
  }

  .canvas-text p {
    font-size: clamp(12px, 10%, 16px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1100px) {
  .sticky-canvas {
    width: 100%;
    max-width: 1080px;
    height: auto;
    object-fit: cover;
    /* opacity: 0.4; */
  }

  .canvas-section {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .canvas-text h3 {
    font-size: clamp(24px, 80%, 12px);
  }

  .canvas-text p {
    font-size: clamp(14px, 10%, 16px);
  }

  .canvas-text-wrapper {
    width: 100%;
  }

  .spacer {
    margin: 5px auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {}

/* --------------------- Services ------------------------ */

#scaffolding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  width: 100vw;
  min-height: 80vh;
}

.scaffolding-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  font-family: "Montserrat", sans-serif;
  max-width: 40vw;
}

.scaffolding-item {
  margin: 15px;
  padding: 10px;

  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: var(--background-color);

}


.scaffolding-item:hover {
  transform: scale(1.05);
}

.scaffolding-image {
  width: 100%;
  height: auto;
}

.scaffolding-item h2 {
  font-size: 1.5em;
  margin: 15px 0;
  color: var(--text-color);
}

.scaffolding-item p {
  font-size: 1em;
  margin: 10px 0;
  color: var(--text-second-color);

}

.scaffolding-item i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
  text-align: center;
}



.services {
  height: 100%;
  width: 40vw;
  font-family: "Montserrat", sans-serif;


  text-align: center;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services button {
  background-color: #555;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services button:hover {
  background-color: #888;
  color: white;
}

.services input {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  background-color: #eee;
  border-radius: 4px;
  transition: 0.3s;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

#error {
  color: red;
  display: none;
}

#result {
  display: none;
  margin-top: 20px;
  font-size: 20px;
}

#result.show {
  display: block;
}

#calculation {
  animation: animateCalculation 2s 1;
}

@keyframes animateCalculation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (hover: hover) {}

@media screen and (min-width: 2800px) {

  .scaffolding-container {
    max-width: 25vw;
  }

  .services {

    width: 20vw;
  }



}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1100px) {

  .scaffolding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }

  .scaffolding-item {
    flex: 0 0 auto;
    padding: 20px;


    width: 100vw;

    text-align: center;

  }

  .scaffolding-image {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .scaffolding-item p {
    font-size: 1em;
    margin: 10px 0px;
    color: var(--text-second-color);
  }
}

@media screen and (max-width: 900px) {
  #scaffolding-container {
    flex-direction: column;
  }

  .services {
    width: 100vw;
  }

  .services h2 {

    font-size: 18px;
  }

  #result {

    font-size: 1em;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 900px) {
  #scaffolding-container {
    height: 70vh;
  }

  .scaffolding-item {
    flex: 0 0 auto;
    padding: 20px;
    overflow: visible;
    text-align: center;
  }

  .scaffolding-item p {
    font-size: 1em;
    margin: 10px 0px;
    color: rgb(93, 93, 93);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {}

@media screen and (max-width: 500px) {}

/* --------------------- Contact ------------------------ */

.contact_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fcfcfc;
  max-width: 1200px;
}


.contact_wrap h3 {
  margin: 20px 0;
  font-size: 64px;
  color: #ffffff;
}

.contact_wrap p {
  color: #b5b5b5;
  font-size: 18px;
}

.contact_container {
  display: flex;
  justify-content: center;
  gap: 250px;
  align-items: center;
  height: 100%;
  width: 100vw;
  padding: 150px 0;
  border-radius: 8px;
}

.contact_owner {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_owner p {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.contact_owner-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 45px rgba(1, 46, 4, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  /* Přidává stín kolem fotografie */
}

.contact_owner-photo::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  bottom: 0;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(255, 255, 255, 0) 50%);
  z-index: -1;
}

.contact_owner-photo:hover {
  transform: scale(1.05);
  /* Změňte číslo pro větší nebo menší efekt zvětšení */
  transition: transform 0.3s ease-in-out;
  /* Přidává plynulý efekt transformace */
}

@media (hover: hover) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 2000px) {
  .contact_owner-photo {
    width: 250px;
    height: 250px;
  }

  .contact_container {
    gap: 150px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {
  .contact_wrap h3 {
    margin: 10px 0;
    font-size: 64px;
  }

  .contact_container {
    padding: 100px 0px;
    gap: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .contact_wrap h3 {
    margin: 10px 0;
    font-size: 44px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 650px) {
  .contact_wrap {
    padding: 50px;
  }

  .contact_container {
    padding: 50px 0;
    flex-direction: column;
  }

  .contact_owner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .contact_owner-photo {
    width: 250px;
    height: 250px;
  }

  .contact_wrap h3 {
    margin: 10px 0;
    font-size: 24px;
  }

  .contact_wrap p {
    color: #b5b5b5;
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {}

/* --------------------- ContactForm ------------------------ */




#form-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 15px;
  height: 80vh;
}

#form-container h3:nth-child(2) {
  position: absolute;

  color: var(--text-second-color);

  font-size: 104px;
  padding: 20px;
  text-align: right;
  opacity: 0.3;
}

.form_background {
  position: relative;

  height: 100%;
}



.form_background img {
  width: auto;
  height: 100%;
}



.form-container {
  flex: 1;


  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  color: var(--text-color);

  margin: 0 4rem;

  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out 0s;
  background-color: var(--background-color);

}

.form-container-bg {
  position: absolute;
  z-index: -0;
  width: 30vw;
  opacity: 0.3;
}

.form-container form {
  width: 700px;
  z-index: 5;
}

.form-container label {
  display: block;
  margin-top: 1rem;
}

.form-container input,
.form-container textarea {
  width: 100%;
  margin-top: 0.3rem;
  padding: 13px;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-border-color);
  transition: border var(--transition-speed);
}

.form-container textarea {
  min-height: 10vh;
}

.form-container input:focus,
.form-container textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

.form-container button {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  border-radius: var(--input-border-radius);
  border: none;
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.form-container button:hover {
  background-color: var(--complement-color);
}

@media screen and (min-width: 2800px) {

  #form-container {
    justify-content: center;
    gap: 5%;
  }

  .form-container {
    flex: none;
  }
}

@media screen and (max-width: 1400px) {
  #form-container h3:nth-child(2) {
    font-size: 40px;
  }
}

@media screen and (max-width: 900px) {

  #form-container {

    height: 65vh;
  }

  .form-container {
    width: 80vw;
    margin: 0 auto 2rem auto;
  }

  .form_background {
    display: none;
  }

  #form-container h3:nth-child(2) {
    font-size: 20px;
  }

  .form-container-bg {
    position: absolute;
    z-index: -0;
    width: 100vw;
    opacity: 0.3;
  }

  .form-container form {
    width: 80vw;
  }
}

@media screen and (max-width: 500px) {}

/* --------------------- References ------------------------ */

.testimonials {
  background-color: #0f6b2c;
  text-align: center;
  width: 95%;
  max-width: 1000px;
  min-width: 500px;
  padding: 2rem;
  margin: 6rem auto;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 15px;
}

.testimonials .title {
  font-size: 2rem;
  color: var(--text-color);
  text-transform: uppercase;
}

.description {
  font-size: 0.75rem;
  color: var(--text-color);
}

.slider-container {
  margin-top: 2rem;
  margin: 2rem auto 0 auto;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  flex: 1;
  gap: 90px;
  padding-left: 40px;
  width: 300%;
  transition: all 0.5s linear;
}

.slide-box {
  padding: 0 150px;
  width: 850px;
}

.slide-box .comment {
  background-color: #ffffff;
  color: #000000;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  font-weight: 500;
}

.slide-box .comment::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.slide-box img {
  max-width: 60px;
  border-radius: 50%;
}

.slide-box .name {
  font-size: 1.3rem;
  color: #ffffff;
}

.slide-box .job {
  font-size: 0.7rem;
  color: #eeeef1;
  font-weight: 400;
}

.control-slider {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  line-height: 40px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

@media screen and (max-width: 900px) {
  .testimonials {
    width: 100vw;
    min-width: auto;
    margin: 2rem auto;
  }

  .slider {
    display: flex;
    flex: 1;
    gap: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .slider {
    display: flex;
    flex: 1;
    gap: 0px;
    padding-left: 0px;
  }

  .slide-box {
    padding: 0 5px;
  }

  .control-slider {
    top: 70%;
  }
}

/* --------------------- Footer ------------------------ */
.footer {
  position: relative;

  background: rgba(0, 0, 0, 0.199);

  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 1000px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}